<form [formGroup]="form">
  <app-content-wrapper>
    <div>
      <mat-form-field>
        <mat-label for="username">Username</mat-label>
        <input matInput type="text" formControlName="username">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label for="pasword">Password</mat-label>
        <input matInput type="password" name="password" id="password-field" formControlName="password">
      </mat-form-field>
    </div>
    <button style="margin-top: 2rem;" mat-flat-button color="primary" type="submit" (click)="submit()">{{submitText}}</button>
  </app-content-wrapper>
</form>
